<div>
    <h3>Solicitudes Pendientes de Revision</h3>
	<div class="table-responsive">
	 <table class="table table-responsive table-bordered table-striped clearfix">
	   <thead class="thead-default">
	     <tr>
	       <th>Solicitud</th>
	       <th>Monto</th>
	     </tr>
	   </thead>
	   <tbody>
	     <tr data-ng-repeat="s in solicitudes">
	       <td><a href="#/Solicitud/{{ s.solicitud }}">{{ s.solicitud }}</a></td>
	       <td><a href="#/Solicitud/{{ s.solicitud }}">{{ s.monto | currency:"$":2}}</a></td>
	     </tr>
	   </tbody>
	 </table>
	</div>
</div>