<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Estatus Revision</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body data-ng-app="creditoApp" data-ng-controller="capturaCtrl">

<div class="container">
  <div class="row" style="padding-top: 50px">
  	<div class="col-md-12 col-lg-12">
	 <form class="form-inline" role="form">
		<div class="row">
	  		<div class="col-md-6 col-lg-6">
		  		<div class="form-group">
				    <label for="solicitud">Solicitud:  {{solicitud.id}}</label>
				</div>
	  		</div>
	  		<div class="col-md-6 col-lg-6 text-right">
			  <div class="form-group">
			    <label for="grupo">Grupo:  {{solicitud.nombreGrupo}}</label>
			  </div>
	  		</div>
	 	</div>
	</form>  	
  	</div>
  </div>
  <div class="row">
  	<div class="col-md-12 col-lg-12">
  		<hr>
  	</div>
  </div>
  <div class="col-md-12 col-lg-12">
	  		<p class="text-primary text-center"><strong>Estatus Solicitud: {{ solicitud.estatusSolicitud }}</strong></p>  		
  </div>
  <div class="row">
  	<div class="col-md-12 col-lg-12">
  		<hr>
  	</div>
  </div>
  <div class="row">
  	<div class="col-md-12 col-lg-12">
  		<div class="table-responsive">
	  		<table class="table table-striped">
		    <thead class="thead-default">
		      <tr>
		        <th>Id Cliente</th>
		        <th>Nombre Cliente</th>
		        <th>Monto Solicitado</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr data-ng-repeat="c in solicitud.clientes">
		        <td>{{ c.id }}</td>
		        <td>{{ c.nombre }}</td>
		        <td>{{ c.monto | currency:"$":2 }}</td>
		      </tr>
		    </tbody>
		  </table>
	  </div>
  	</div>
  </div>
  <div class="row">
  	<div class="col-md-12 col-lg-12">
	  <p class="text-primary text-center"><strong>Monto Total Solicitud: {{ monto_solicitud | currency:"$":2}}</strong></p>  		
  	</div>
  </div>
  <div class="row">
  	<div class="col-md-12 col-lg-12">
  		<hr>
  	</div>
  </div>
  <div class="row">
  	 <div class="col-md-12 col-lg-12">
	  <button type="button" class="btn btn-lg btn-info center-block" data-ng-click="initProcess()">Enterado</button>  
	 </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>

<script>
var app = angular.module('creditoApp', []);
app.controller('capturaCtrl', function($scope, $http) 
{
	var solicitud = { id : '123456', 
			  nombreGrupo : "PRUEBA JBPM",
			  tipoRevision : "ANALISTA JR",
			  estatusSolicitud : "APROBADA",
			  clientes : [ { id: "01", nombre: "Francisco Rocha", monto:20000 },
	                        { id: "02", nombre: "Juan Perez", monto:50000 } ]
           };

	$scope.solicitud = solicitud;
	
    $scope.monto_solicitud = _.reduce($scope.solicitud.clientes, function(memo, cliente){ return memo + cliente.monto; }, 0);

    $scope.cliente = {};

    $scope.add = function() {
        var object = $scope.cliente;
        $scope.monto_solicitud += parseFloat(object.monto);
        $scope.clientes.push( _.clone(object) );
        $scope.cliente = {};
    };

    $scope.initProcess = function() {
        var solicitud = { id : '', clientes : $scope.clientes, monto: $scope.monto_solicitud };
        $http.post("/credito-web/rest/credito/", solicitud)
        .then(function(response){
        });
    };
});
</script>

</body>
</html>